<!--인증 테스트를 위한 임시 뷰입니다.-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
</head>
<body>
<h1>이건 홈이에요</h1>
<h2>현재 로그인 된 유저</h2>
<p>유저 아이디: <span th:text="${userId}"></span></p>
<p>이름: <span th:text="${name}"></span></p>
<p>이메일: <span th:text="${email}"></span></p>
<p>닉네임: <span th:text="${nickname}"></span></p>
<p>OAuth2 아이디: <span th:text="${oauth2Id}"></span></p>
<p>제공자: <span th:text="${provider}"></span></p>
<p>엑세스토큰: <span th:text="${accessToken}"></span></p>
</body>
</html>
