<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Collect Bus Routes</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Navigation bar -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand btn btn-outline-primary" href="/admin">대시보드</a>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="text-center mb-4">Collected Bus Routes</h1>

    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <a href="/admin/collect-route/form" class="btn btn-primary mb-3">Add New Collected Route</a>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Route ID</th>
            <th>Route Name</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="route, iter : ${collectRoutes}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${route.routeRespDto.routeId}"></td>
            <td th:text="${route.routeRespDto.routeName}"></td>
            <td th:text="${route.createdAt}"></td>
            <td>
                <button class="btn btn-danger" th:onclick="deleteCollectRoute([[${route.id}]]);">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- JavaScript to handle delete request -->
<script>
    function deleteCollectRoute(collectRouteId) {
        if (confirm('Are you sure you want to delete this route?')) {
            fetch('/admin/collect-route/' + collectRouteId, {
                method: 'DELETE'
            })
                .then(response => {
                    return response.text().then(text => {
                        return {
                            status: response.status,
                            body: text
                        };
                    });
                })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert(response.body.toString());
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('잠시 후 다시 시도해주세요');
                });
        }
    }
</script>

<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
